
.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    
}
.grid-div{
    background-color: grey;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
